@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<EternalBAND.Models.Instruments>

@{
    ViewData["Title"] = "Enstrümanlar";
}

<div class="main-content">

    <div class="page-content">

        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-lg-12">
                        <div class="card" id="typography">
                            <div class="p-4 border-bottom">
                                <a asp-action="InstrumentsCreate">Yeni Oluştur</a>
                            </div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Instrument)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Instrument)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            <a asp-action="InstrumentsEdit" asp-route-id="@item.Id">Düzenle</a> |
                                            <a asp-action="InstrumentsDelete" asp-route-id="@item.Id">Sil</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                              <ul class="pagination pagination-sm">
                                                            @{
                                                                @Html.PagedListPager((IPagedList) Model, pId => Url.Action("InstrumentsIndex", new {@pId = pId}),
                                                                    new PagedListRenderOptions
                                                                    {
                                                                        LiElementClasses = new string[] {"page-item"},
                                                                        PageClasses = new string[] {"page-link"}
                                                                    })
                                                            }
                                                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>