@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<EternalBAND.DomainObjects.Blogs>

@{
    ViewData["Title"] = "Blog Yazıları";
}
<link href="~/imageuploader/image-uploader.css" rel="stylesheet" type="text/css">
<div class="main-content">

    <div class="page-content">

        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row text-end">
                    <h4>
                        <a asp-controller="Admin" asp-action="BlogsCreate">Yeni İlan Oluştur</a>
                    </h4>
                </div>
                <div class="row">
                    @if (Model.Count() != 0)
                    {
                        @foreach (var item in Model)
                        {

                            <div class="col-lg-4 col-md-6 mt-4">
                                <div class="card job-grid-box bookmark-post">
                                    <div class="card-body p-4">
                                        <div class="favorite-icon">
                                            <a onclick="DeletePost(this.id)" id="@item.Id">
                                                <i class="uil uil-trash-alt"></i>
                                            </a>
                                        </div>
                                        <div class="mt-4">
                                            <a asp-action="Blog" asp-controller="Home" asp-route-seoLink="@item.SeoLink" class="primary-link">
                                                <h5 class="fs-17 mb-1">@item.Title</h5>
                                            </a>
                                        </div>
                                        <div class="job-grid-content mt-3">
                                            <p class="text-muted">
                                                @if (item.HtmlText.Length > 150)
                                                {
                                                    @Html.Raw(item.HtmlText.Substring(0, 150))
                                                }
                                                else
                                                {
                                                    @Html.Raw(item.HtmlText)
                                                }
                                            </p>
                                            <div class="d-flex align-items-center justify-content-between mt-4 border-top pt-3">
                                                <p class="text-muted float-start mb-0">Eklenme Tarihi: @item.AddedDate.ToString("dd.MM.yyyy")</p>
                                                <div class="text-end">
                                                    <a asp-action="BlogsEdit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Düzenle <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end card-body-->
                                </div><!--end job-grid-box-->

                            </div>
                        }
                    }
                    else
                    {
                        <h3 class="text-center">Blog yazısı bulunmuyor.</h3>
                    }
                </div>

            </div>
            <div class="row mt-5 pt-2">
                <div class="col-lg-12">
                    <nav aria-label="Navigation">
                        <ul class="pagination job-pagination mb-0 justify-content-center">
                           
                         
                            @{
                                                        @Html.PagedListPager((IPagedList) Model, pId => Url.Action("BlogsIndex", new {@pId = pId}),
                                                            new PagedListRenderOptions
                                                            {
                                                                LiElementClasses = new string[] {"page-item"},
                                                                PageClasses = new string[] {"page-link"},
                                                            })
                                                    }
                          
                        </ul>
                    </nav>
                </div><!--end col-->
            </div><!-- end row -->
        </section>

    </div>

    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>
<script>
function DeletePost(id){
Swal.fire({
  title: 'Blog yazısı silinecektir emin misiniz?',
  showDenyButton: true,
  confirmButtonText: 'Sil',
  denyButtonText: `Silme`,
}).then((result) => {
  if (result.isConfirmed) {
      $.post( "/Admin/BlogsDelete/"+id, function( data ) {
          var message = "";
          if (data.includes('silindi')){
              message = 'success';
          }
          else
              {
                  message ='info';
                  }
          Swal.fire({
            title: data,confirmButtonText: 'Kapat'});
          setTimeout( location.reload(), 2000);
      });
  } 
})
}

</script>