@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EternalBAND.DomainObjects.Contacts>

@{
    ViewData["Title"] = "İletişim Sayfası Formları";
}

<div class="main-content">

    <div class="page-content">

        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row">
                 
                    <div class="col-12 col-lg-12">
                        <div class="card" id="typography">
                           
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Mail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().NameSurname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().Message)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().AddedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstOrDefault().IsDone)
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NameSurname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedDate)
                                        </td> 
    
                                        @if (item.IsDone.Value)
                                        {
                                            <td>Evet</td>
                                        }
                                        else
                                        {
                                            <td>Hayır</td>
                                        }
                                        <td>
                                            <a asp-action="ContactsEdit" asp-route-id="@item.Id">Düzenle</a> |
                                            <a asp-action="ContactsDetails" asp-route-id="@item.Id">Detaylar</a> |
                                            <a asp-action="ContactsDelete" asp-route-id="@item.Id">Sil</a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                                <ul class="pagination pagination-sm">
                                    @{
                                        @Html.PagedListPager((IPagedList) Model, pId => Url.Action("ContactsIndex", new {@pId = pId}),
                                            new PagedListRenderOptions
                                            {
                                                LiElementClasses = new string[] {"page-item"},
                                                PageClasses = new string[] {"page-link"}
                                            })
                                    }
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>