@using Cities = EternalBAND.Business.Cities
@using EternalBAND.Common;
@using EternalBAND.DataAccess;
@using EternalBAND.DomainObjects.ViewModel;
@inject ApplicationDbContext _context
<link href="/Css/Anasayfa.css" rel="stylesheet" type="text/css">
@model MainPageViewModel
@{
    ViewData["Title"] = "Anasayfa";
    var postFilterContracts = new PostFilterContracts();
}

<div class="page-content">
    <section class="bg-home2" id="home">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-10">
                    <div class="candidate-list-widgets mb-4">
                        <h1 class="display-5 fw-semibold mb-3 text-white">YENİ BİR <span class="text-yellow fw-bold">İLAN</span> VER</h1>
                        <p class="lead text-white mb-0">Yeni bir ilan verirken<br/>Kendini en iyi şekilde ifade etmeyi unutma</p>
                    </div>
                    <partial name="PartialViews/_FilterPostPartial" model="@postFilterContracts"></partial>
                </div>
                <div class="col-lg-2">
                    <div class="mt-5 mt-md-0">
                        <img src="/images/main/emre.png" alt="" class="home-img"/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
                <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
                    <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
                </g>
                <defs>
                    <mask id="SvgjsMask1004">
                        <rect width="1440" height="250" fill="#ffffff"></rect>
                    </mask>
                </defs>
            </svg>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title">En Yeni İlanlar</h4>
                        <p class="text-muted mb-1">
                            Temel kategorilerde verilen son ilanları buradan takip edebilirsin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <ul class="job-list-menu nav nav-pills nav-justified flex-column flex-sm-row mb-4" id="pills-tab"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-post-tab" data-bs-toggle="pill" aria-selected="false">
                                Tüm İlanlar
                            </button>
                        </li>
                        @{
                            var postTypes = _context.PostTypes.Where(n => n.Active);
                            foreach (var type in postTypes)
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="@type.Type-tab" data-bs-toggle="pill" aria-selected="false">
                                        @type.FilterText
                                    </button>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="recent-jobs" role="tabpanel"
                             aria-labelledby="recent-jobs-tab">
                            <div id="itemlist">
                                <partial name="PartialViews/_PostsListPartial" model="@Model.NewPosts"></partial>
                            </div>
                            <div class="text-center mt-4 pt-2">
                                <a asp-controller="Home" asp-action="Posts" class="btn btn-primary btn-hover">Hepsini Gör <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-light" hidden>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-title me-5">
                        <h3 class="title">Nasıl Çalışır?</h3>
                        <p class="text-muted">Dakikalar içinde üye olabilir ve ücretsiz şekilde platformu kullanabilirsin.</p>
                        <div class="process-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <div class="d-flex">
                                    <div class="number flex-shrink-0">
                                        1
                                    </div>
                                    <div class="flex-grow-1 text-start ms-3">
                                        <h5 class="fs-18">Üye ol!</h5>
                                        <p class="text-muted mb-0">İlan yayınlamak ve diğer ilanlara cevap verebilmek için kolayca bilgilerini girip üye olabilirsin.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <div class="d-flex">
                                    <div class="number flex-shrink-0">
                                        2
                                    </div>
                                    <div class="flex-grow-1 text-start ms-3">
                                        <h5 class="fs-18">İlan oluştur</h5>
                                        <p class="text-muted mb-0">Üye girişi yaptıktan sonra ilan ver sayfasına giderek, ilan verme kurallarına uygun şekilde bilgileri doldurabilirsin.</p>
                                    </div>
                                </div>
                            </a>
                            <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                <div class=" d-flex">
                                    <div class="number flex-shrink-0">
                                        3
                                    </div>
                                    <div class="flex-grow-1 text-start ms-3">
                                        <h5 class="fs-18">İletişimde kal</h5>
                                        <p class="text-muted mb-0">İlanının onaylandı mesajını aldıktan sonra gelen cevapları site üzerinden takip edebilirsin.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <img src="/images/process-01.png" alt="" class="img-fluid">
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <img src="/images/process-02.png" alt="" class="img-fluid">
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <img src="/images/process-03.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <h2 class="text-primary mb-4">
                            Destek Birimi
                        </h2>
                        <p class="text-muted">
                            Eğer birşeylerin eksik veya hatalı olduğunu düşünüyorsan, bize mesaj atabilirsin.
                        </p>
                        <form method="post" asp-action="SendSupportMessage" asp-controller="Home">
                            <div>
                                <textarea class="form-control text-center border-dark" placeholder="Mesajınızı Yazınız" type="text" id="message" name="message"></textarea>
                                <div class="mt-4 pt-2">
                                    <button type="submit" class="btn btn-primary btn-hover">Gönder<i class="uil uil-rocket align-middle ms-1"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center mb-5">
                        <h3 class="title mb-3">İlginizi Çekebilecek Bilgiler</h3>
                        <p class="text-muted">Blog bölümünde ilginizi çekebilecek yazılar bulabilirsiniz.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                @foreach(var blog in Model.NewBlogs)
                {
                    var photoPath = blog.GetTopPhoto() ?? "/images/blog/img-01.jpg";
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-box card p-2 mt-3">
                            <div class="blog-img position-relative overflow-hidden">
                                <img src="@photoPath" alt="" class="img-fluid">
                                <div class="bg-overlay"></div>
                            </div>
                            <div class="card-body">
                                <a href="blog/@blog.SeoLink" class="primary-link">
                                    <h5 class="fs-17">@blog.Title</h5>
                                </a>
                                <p class="text-muted">
                                    @(blog.GetShortSummaryText(150))
                                </p>
                                <a href="blog/@blog.SeoLink" class="form-text text-primary">Read more <i class="mdi mdi-chevron-right align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
        </div>
    </section>

    <partial name="PartialViews/_BaseBrandPartial" />
</div>

@section Scripts{
    <script>

        $(function () {
            function FilterNewPosts(postType) {
                $.ajax({
                    url: "@Url.Action("FilterNewPosts","Home")",
                    data: { postTypeName: postType },
                    type: "Post",
                    success: function (result) {
                        $("#itemlist").html("");
                        $("#itemlist").html(result);
                    },
                    error: function (result) {
                        window.alert("Bir hata oluştu.");
                    }
                });
            }

            function NewPosts() {
                $.ajax({
                    url: "@Url.Action("NewPosts","Home")",
                    type: "Post",
                    success: function (result) {
                        $("#itemlist").html("");
                        $("#itemlist").html(result);
                    },
                    error: function (result) {
                        window.alert("Bir hata oluştu.");
                    }
                });
            }

            $("#Group-tab").click(function () {
                FilterNewPosts("@PostTypeName.Group");
            });

            // Button 2 click event
            $("#Musician-tab").click(function () {
                FilterNewPosts("@PostTypeName.Musician");
            });

            // Button 3 click event
            $("#Lesson-tab").click(function () {
                FilterNewPosts("@PostTypeName.Lesson");
            });
            $("#all-post-tab").click(function () {
                NewPosts();
            });

        })
    </script>
}


