@using EternalBAND.Common
@using EternalBAND.DataAccess;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<EternalBAND.DomainObjects.Blogs>
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Blog Yazıları";
}

<div class="main-content">
    <div class="page-content">
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">@ViewData["Title"]</h3>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <section class="section">
            <div class="container">
                <div class="row align-items-center"></div>
                <div class="row">
                    <div class="col">
                        <div class="row mt-5 ">
                            @{
                                @foreach (var blog in Model.ToList())
                                {
                                    string photoPath = blog.GetTopPhoto() ?? "../images/hazirlaniyor.jpg";
                             
                                    <div class="col-lg-4">
                                        <article class="post position-relative mt-4">
                                            <div class="post-preview overflow-hidden mb-3 rounded-3">
                                                <a asp-action="Blog" asp-route-seolink="@blog.SeoLink">
                                                    <img src="@photoPath" alt="" class="img-fluid blog-img">
                                                </a>
                                            </div>
                                            <p class="text-muted mb-2">@blog.AddedDate.ToString("dd/MM/yyyy")</p>
                                            <h5 class="mb-3">
                                                <a asp-action="Blog" asp-route-seolink="@blog.SeoLink" class="primary-link">@blog.Title</a>
                                            </h5>
                                            <p class="text-muted">
                                                @blog.GetShortSummaryText(150)
                                            </p>
                                        </article>
                                    </div>
                                }
                            }
                            @if(Model.Count > 0)
                            {
                                <div class="row mt-5 pt-2">
                                    <div class="col-lg-12">
                                        <nav aria-label="Navigation">
                                            <ul class="pagination job-pagination mb-0 justify-content-center">
                                                @{
                                                    @Html.PagedListPager((IPagedList) Model, pId => $"/{EndpointConstants.Blogs}?seoLink=&pId={pId}",
                                                    new PagedListRenderOptions
                                                    {
                                                        LiElementClasses = new string[] {"page-item"},
                                                        PageClasses = new string[] {"page-link"},
                                                    })
                                                }
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="sidebar ms-lg-4 ps-lg-4 mt-5 mt-lg-0">
                            <aside class="widget widget_search">
                                <form asp-action="Blogs" class="position-relative">
                                    <input class="form-control" type="text" name="seolink" id="seolink" placeholder="Ara...">
                                    <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y fs-22 me-2" type="submit"><span class="mdi mdi-magnify text-muted"></span></button>
                                </form>
                            </aside>

                            <div class="mt-4 pt-2">
                                <div class="sd-title">
                                    <h6 class="fs-16 mb-3">Son Yazılar</h6>
                                </div>
                                <ul class="widget-popular-post list-unstyled my-4">
                                    @{
                                        var blogs = _context.Blogs.Take(4).OrderByDescending(n => n.AddedDate);
                                        foreach (var blog in blogs)
                                        {
                                            var photo = blog.GetTopPhoto() ?? "../images/hazirlaniyor.jpg";
                                            <li class="d-flex mb-3 align-items-center pb-3 border-bottom">
                                                <img src="@photo" alt="" class="widget-popular-post-img rounded" />
                                                <div class="flex-grow-1 text-truncate ms-3">
                                                    <a href="blog/@blog.SeoLink" class="text-dark">@blog.Title</a>
                                                    <span class="d-block text-muted fs-14">@blog.AddedDate.ToString("dd/MM/yyyy")</span>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>