@using EternalBAND.Api
@using EternalBAND.Common
@using EternalBAND.DataAccess;
@using EternalBAND.Api.Options
@using Microsoft.Extensions.Options
@inject IOptions<SiteGeneralOptions> _siteSettings
@inject ApplicationDbContext _context
@{
    var queryParamStr = $"/{EndpointConstants.Posts}?s=";
    var musicianText = queryParamStr + PostTypeName.Musician;
    var groupText = queryParamStr + PostTypeName.Group;
    var lessonText = queryParamStr + PostTypeName.Lesson;
}
<section class="bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-item mt-4 mt-lg-0 me-lg-5">
                    <h4 class="text-white mb-4">
                        <partial name="PartialViews/_GetSiteTitlePartial"/>
                    </h4>
                    <p class="text-white-50">
                        @_siteSettings.Value.Slogan
                    </p>

                    <partial name="PartialViews/_SocialMedia" />
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="fs-16 text-white mb-4">ANASAYFA</p>
                    <ul class="list-unstyled footer-list mb-0">
                        <li>
                            <a href="/@EndpointConstants.About"><i class="mdi mdi-chevron-right"></i> Hakkımızda</a>
                        </li>
                        <li>
                            <a href="/@EndpointConstants.Contact"><i class="mdi mdi-chevron-right"></i> İletişim</a>
                        </li>
                        <li hidden>
                            <a href="services.html"><i class="mdi mdi-chevron-right"></i> Prodüksiyon</a>
                        </li> 
                        <li hidden>
                            <a href="blog.html"><i class="mdi mdi-chevron-right"></i> 2. El Enstrüman</a>
                        </li>
                    </ul>
                </div>
            </div><!--end col-->
            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="fs-16 text-white mb-4">İLANLAR</p>
                    <ul class="list-unstyled footer-list mb-0">
                        @{
                            <li>
                                <a href="@groupText"><i class="mdi mdi-chevron-right"></i> Grup Arıyorum</a>
                            </li>
                            <li>
                                <a href="@musicianText"><i class="mdi mdi-chevron-right"></i> Müzisyen Arıyorum</a>
                            </li>
                            <li>
                                <a href="@lessonText"><i class="mdi mdi-chevron-right"></i> Ders Almak İstiyorum</a>
                            </li>
                        }
                    </ul>
                </div>
            </div><!--end col-->

            <div class="col-lg-2 col-6">
                <div class="footer-item mt-4 mt-lg-0">
                    <p class="fs-16 text-white mb-4">DESTEK</p>
                    <ul class="list-unstyled footer-list mb-0">
                        <li hidden>
                            <a href="contact.html"><i class="mdi mdi-chevron-right"></i> S.S.S.</a>
                        </li>
                        <li>
                            <a href="/@EndpointConstants.PostRules"><i class="mdi mdi-chevron-right"></i> İlan Kuralları</a>
                        </li>
                         <li hidden>
                            <a href="faqs.html"><i class="mdi mdi-chevron-right"></i> Destek Birimi</a>
                        </li>
                        <li>
                            <a href="/@EndpointConstants.PrivacyPolicy" target="_blank"><i class="mdi mdi-chevron-right"></i> Gizlilik Sözleşmesi</a>
                        </li>
                        <li>
                            <a href="/@EndpointConstants.Kvkk" target="_blank"><i class="mdi mdi-chevron-right"></i> KVKK</a>
                        </li>
                    </ul>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section>
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-white-50 text-center mb-0">
                    @DateTime.Now.Year <partial name="PartialViews/_FooterBottomText"></partial>
                </p>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</div>