@page "/{userId?}"
@using EternalBAND.Business
@using EternalBAND.DomainObjects
@model ProfileModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var anotherUserProfileView = bool.Parse(ViewData["AnotherUserProfileView"].ToString());
}
<link href="/Css/Post.css" rel="stylesheet" type="text/css">
<div class="main-content">
    <div class="page-content">
        <partial name="PartialViews/_BasePageShape" />
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card" id="typography">
                            <div class="card-body p-4">
                                    <div class="form-group m-3">
                                        <img src="@ViewData["PhotoPath"]" class="rounded-circle mr-1" width="100" height="100">
                                    </div>
                                    <div class="form-group m-3">
                                    <label asp-for="@Model.CurrentUser.Name" class="form-label"></label> <input asp-for="@Model.CurrentUser.Name" class="form-control" placeholder="Ad" readonly />
                                    </div>
                                        <div class="form-group m-3">
                                    <label asp-for="@Model.CurrentUser.Surname" class="form-label"></label> <input asp-for="@Model.CurrentUser.Surname" class="form-control" placeholder="Soyad" readonly />
                                    </div>
                                    @if (!anotherUserProfileView)
                                    {
                                        <div class="form-group m-3">
                                        <label asp-for="@Model.CurrentUser.Email" class="form-label"></label> <input asp-for="@Model.CurrentUser.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Mail Adresi" readonly />
                                        </div>
                                        <div class="form-group m-3">
                                        <label asp-for="@Model.CurrentUser.PhoneNumber" class="form-label"></label>  <input asp-for="@Model.CurrentUser.PhoneNumber" class="form-control" placeholder="Telefon Numarası" readonly />
                                        </div>
                                    }
                                    <div class="form-group m-3">
                                    <label asp-for="@Model.CurrentUser.City" class="control-label"></label> <select asp-for="@Model.CurrentUser.City" class="form-control" asp-items="ViewBag.Cities" disabled></select>
                                    </div>
                                        <div class="form-group m-3">
                                    <label asp-for="@Model.CurrentUser.Age" class="form-label"></label>  <input asp-for="@Model.CurrentUser.Age" class="form-control" placeholder="Yaş" readonly />
                                    </div>
                                    @if (!anotherUserProfileView)
                                    {
                                        <div class="profile-button">
                                        <a asp-page="./ProfileEdit" class="btn btn-sm btn-primary"><i class="uil uil-edit"> Profili Düzenle</i></a>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
