@model EternalBAND.DomainObjects.Posts

@{
    ViewData["Title"] = "İlan Düzenle";
}

<link href="/Css/PostEdit.css" rel="stylesheet" type="text/css">
<partial name="PartialViews/_BasePageShape" />
<div class="main-content">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card p-3" id="typography">
                            <form asp-action="PostEdit" enctype="multipart/form-data" method="post" id="musicFormEdit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Guid"/>
                                <div class="form-group m-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="HTMLText" class="control-label"></label>
                                    <textarea asp-for="HTMLText" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="HTMLText" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label asp-for="PostTypesId" class="control-label"></label>
                                    <select asp-for="PostTypesId" class="form-control" asp-items="ViewBag.PostTypesId"></select>
                                    <span asp-validation-for="PostTypesId" class="text-danger"></span>
                                </div>  
                                <div class="form-group m-3">
                                    <label asp-for="InstrumentsId" class="control-label"></label>
                                    <select asp-for="InstrumentsId" class="form-control" asp-items="ViewBag.InstrumentsId"></select>
                                    <span asp-validation-for="InstrumentsId" class="text-danger"></span>
                                </div>    <div class="form-group m-3">
                                    <label asp-for="CityId" class="control-label"></label>
                                    <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                </div>
                                <div class="form-group m-3">
                                    <label class="control-label">Fotoğraflar</label>
                                    <div id="image-upload" class="dropzone"></div>
                                </div>
                                <div class="form-group m-3">
                                    <input type="submit" value="Kaydet" class="btn btn-primary"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <partial name="PartialViews/_PostRules" />
    </div>
    <partial name="PartialViews/_SwitcherAndTopPartial"/>
</div>

@section Scripts {

<script>
    const preloadedFiles = [
        @{
            if (Model.Photo1 != null)
            {
                            @:{ id: 1, src: '@Model.Photo1' },
            }
            if (Model.Photo2 != null)
            {
                            @:{ id: 2, src: '@Model.Photo2' },
            }
            if (Model.Photo3 != null)
            {
                            @:{ id: 3, src: '@Model.Photo3' },
            }
            if (Model.Photo4 != null)
            {
                            @:{ id: 4, src: '@Model.Photo4' },
            }
            if (Model.Photo5 != null)
            {
                            @:{ id: 5, src: '@Model.Photo5' },
            }
        }
    ];

    initDropzone(preloadedFiles)
</script>
}